main{
    height: 100dvh;
    max-height: 100dvh;

    display: flex;
    flex-direction: row;
    background-color: var(--primary-second);

    app-company-list-nav-bar{
        width: 66px;
        max-width: 66px;
    }
}