section{
    margin: 0.5rem 1.5rem 0rem 1.5rem;
    padding: 0rem 0.5rem;
    height: 70px;
    background-color: var(--primary-3);
    border-radius: 4px;
    max-height: 70px;
    min-height: 70px;
    box-sizing: border-box;
    color: var(--font-gray);
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;

    .file_item{
        border: 1px solid #ccc;
        border-radius: 6px;
        margin: 0.5rem 0rem;
        padding: 0.3rem 0.5rem;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        font-size: 0.9rem;
        column-gap: 0.5rem;
        align-items: center;

        .file_name{
            white-space: nowrap;
        }
        img{
            width: 40px;
            // height: 40px;
            max-width: 40px;
            max-height: 35px;
        }
        .close_btn{
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                cursor: pointer;
                fill: var(--font-gray);
            }
            svg:hover{
                background-color: var(--hover-gray);
                border-radius: 6px;
            }
        }
    }
}