.card{
    position: relative;

    header{
        margin: 0px 1rem;

        h3{
            margin: 0.5rem;
            text-align: center;
        }
        p{
           text-align: center;
           color: var(--font-gray); 
           margin: 0px;
           font-size: 0.8rem;
           font-weight: 600;
        }
    }
    .row_choice_container{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        margin: 2rem 1rem 1rem 1rem;
        font-weight: 500;

        .card_item{
            flex: 1;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            text-align: center;
            border: 2px solid var(--primary-4);
            border-radius: 6px;
            padding: 0.5rem;

            // svg{
            //     height: 80px;
            //     margin: 3rem 2rem;
            //     fill: var(--font-gray);
            // }
            // p{
            //     margin: 1rem 0.5rem;
            // }
            .title_card{
                font-size: 1.2rem;
                font-weight: 900;
            }
            .cost_container{
                display: flex;
                flex-direction: column;

                .card_cost{
                    font-size: 2rem;
                }
            }
            button{
                outline: none;
                border: none;
                border-radius: 4px;
                box-sizing: border-box;
                height: 32px;
                cursor: pointer;
                margin: 0.5rem;
                font-weight: 600;
                color: var(--font-white);
            }
            .amenities_list{
                text-align: left;
                margin: 0rem 0.5rem;

                ul{
                    list-style: none;
                    padding-inline-start: 0px;

                    li{
                        display: flex;
                        flex-direction: row;
                        column-gap: 0.5rem;
                        align-items: start;
                        padding: 2px 0px;
                        min-height: 25px;

                        .icon{

                            svg{
                                max-height: 18px;
                                fill: var(--green);
                            }
                        }
                        .icon_red{
                            min-width: 14px;
                            svg{
                                max-height: 18px;
                                max-width: 11px;
                                fill: var(--red);
                            }
                        }
                        p{
                            margin: 0px;
                        }
                    }
                }
            }
            .btn_professional{
                background-color: var(--blue);
            }
            .btn_free{
                background-color: var(--orange);
            }
            .font_join{
                color: var(--green);
                font-weight: 800;
            }
            .font_create{
                color: var(--orange);
                font-weight: 800;
            }
        }
    }
    .create_company_container{
        display: flex;
        flex-direction: column;
    }
}