body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: #393c42; //#393c42
    border: 0px none #ccc;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c5c7c8;
}
::-webkit-scrollbar-track {
    background: var(--primary-3);
    border: 0px none #ccc;
    // border-bottom-right-radius: 6px;
}

:root {
    // --primary: #292948; 22223b 272734 282830
    // --secondary: #9C3A5A; f39a0b c6ac8f

    --primary: #272734; //272734 //#15181e //#181a1d
    --primary-second: #313338;
    --primary-3: #2e3036; //#202327 //2e3036 //#2e3138
    --primary-4: #393c42;
    --secondary: #c6ac8f;
    --dark: #1e1f22;
    --font-white: #fff;
    --font-gray: #b5bac1;
    --hover-gray: #3c3c3f; //454547 3f3f42
    --green: #43b581;
    --blue: #00AEF1;
    --orange: #D8A31A;
    --red: #C1554D;

}
