:host{
    flex: 1;
}
.chat_container{
    padding: 1rem;
    overflow: hidden;
    height: 100dvh;
    max-height: 100dvh;

    .messages_container{
        height: calc(100dvh - 6rem);
        overflow-y: scroll;
        display: flex;
        // flex-direction: column;
        flex-direction: column-reverse;
        row-gap: 3px;
    }
    .margin_left_message{
        margin-left: calc(30px + 0.5rem);
    }
    .margin_bottom_message{
        margin-bottom: 1rem;
    }
    .message_item_current_user{
        display: flex;
        justify-content: end!important;

        .message_container{
            background-color: var(--dark)!important;
        }
    }
    .chat_container_item{
        max-width: 70%;
    }
    .message_item{
        // background-color: var(--primary-3);
        border-radius: 4px;
        padding: 0rem 0.5rem;
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
        align-items: end;

        .user_icon{
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
        }
        .username_item{
            font-size: 0.7rem;
            color: var(--font-gray);
            // padding-bottom: 4px;
            padding: 0px 0px 2px 6px;
        }
        .message_container{
            // background-color: var(--primary-3);
            background-color: #393c42;
            color: var(--font-white);
            padding: 0.4rem 0.8rem;
            border-radius: 16px;
        }
    }

    ///////INPUT DOWN CONTAINER //////////////////////
    .inputs{
        flex: 1;
        // border-radius: 4px;
        // background-color: var(--dark);
        // padding: 0.6rem;

        display: flex;
        flex-direction: row;

        input{
            margin: 0.5rem 0rem;
            border-radius: 4px;
            background-color: var(--dark);
            box-sizing: border-box;
            width: 100%;
            height: 36px;
            border: none;
            outline: none;
            padding: 0rem 0.5rem;
            color: var(--font-white);
        }
    }
}
