<div class="chat_container">
    <button [disabled]="this.isDuplicateMessage" (click)="loadMoreMessages()">Load More</button>
    <div #scrollContainer (scroll)="onScroll($event)" class="messages_container">
        @for (item of this.messages; track item.id) {
            @if (messageWithIcon(item)) {
                <div [ngClass]="{'message_item_current_user': item.userId == this.userDataService.getId()}" class="message_item margin_bottom_message">
                    @if (item.userId != this.userDataService.getId()) {
                        <div class="user_icon">
    
                        </div>
                    }
                    <div class="chat_container_item">
                        @if (messageWithUsername(item)) {
                            @if (item.userId != this.userDataService.getId()) {
                                <div class="username_item">
                                    {{item.username}}
                                </div>
                            }
                        }
                        <div class="message_container">
                            {{item.message}}
                        </div>
                    </div>
    
                </div>
            }
            @if (messageWithoutIcon(item)) {
                <div [ngClass]="{'message_item_current_user': item.userId == this.userDataService.getId()}" class="message_item margin_left_message">
                    <div class="chat_container_item">
                        @if (messageWithUsername(item)) {
                            @if (item.userId != this.userDataService.getId()) {
                                <div class="username_item">
                                    {{item.username}}
                                </div>
                            }
                        }
                        <div class="message_container">
                            {{item.message}}
                        </div>
                    </div>
    
                </div>
            }
        }
    </div>
    <div class="inputs">
        <input [(ngModel)]="this.inputMessage" (keyup.enter)="sendMessage()" type="text" placeholder="Wiadomość...">
        <!-- <button (click)="this.sendMessage()">wyślij</button> -->
    </div>
</div>
